#container {
    margin: 0 auto;
    width: 50%;
}

#menu {
    background-color: #333;
}

footer {
    border-top: 2px solid #000;
}

#menu,
footer {
    padding: 1em 0;
    font-size: 1.4em;
    font-weight: 800;
}
 
#menu-list {
    float: right;
}

#menu a {
    margin: 1em;
    color: #fff;
}

#menu a:after,
footer a:after {
    content: '/'
}

#header {
    margin: 1em 0;
    color: #222;
    font-size: 2.5em;
}

#content {
    font-size: 1.25em;
    line-height: 1.4em;
}

#content h1 {
    font-size: 1.25em;
}

#brief-info h1 {
    margin: .5em 0 .25em;
}

#bio h1 {
    margin-top: 2em;    
    margin-bottom: 1em;
}

#bio p {
    margin: .5em 0;
    line-height: 1.5em;
}

.errors {
    padding: .5em;
    border: 1px solid red;
}

#login-form p{
    margin: .5em 0;
}

#login-form input[type='text'],
#login-form input[type='submit'] {
    padding: 3px 5px;
}

#login-form label {
    display: block;
}

#request-list th,
#request-list td  {
    width: 10em;
    padding: .1em 0;
    text-align: center;
}

#request-list th {
    padding: 1em;
    font-weight: 800;
}

.column {
    width: 50%;
    float: left;
}

.column > p {
    margin: .5em 0;
}

.column > p > strong {
    font-size: 1.1em;
}

.clear {
    clear: both;
}

input[type='file'] {
    display: inline;
}