{% extends "base.html" %}

{% block head_title %}42 Coffee Cups Test Assignment{% endblock head_title %}

{% block menu %}
    {% if user.is_authenticated %}
        {% load edit_link from assignment_edit_link %}
        {% edit_link user "user admin" %}
        <a href="{% url assignment-person-edit %}">edit</a>    
        <a href="{% url assignment-logout %}">logout</a>    
    {% else %}    
        <a href="{% url assignment-login %}">login</a>                
    {% endif %}    
{% endblock %}
    
 
{% block header %}
    42 Coffee Cups Test Assignment by {{ person.first_name }} {{ person.last_name }}
{% endblock %}    

{% block content %} 
    <div class='column'>
        <p><strong>First name:</strong> {{ person.first_name }}</p>
        <p><strong>Last name:</strong> {{ person.last_name }}</p>
        <p id="date-of-birth"><strong>Date of birth:</strong> 
            <time datetime="{{person.userprofile.date_of_birth|date:"Y-m-d"}}">
                {{ person.userprofile.date_of_birth}}
            </time>
        </p>
        <p><strong>Photo:</strong></p>
        <img id="profile-photo" width="250px" src="
                    {% if person.userprofile.photo %}
                        {{ person.userprofile.photo.url }}
                    {% else %}        
                        {% load staticfiles %}
                        {% static 'css/images/profile.jpg' %}
                    {% endif %}    
                " />
    </div>
    <div class='column'>        
        <div id="brief-info">
            <address id="contacts">
                <h1>Contacts:</h1>
                {% if person.email %}
                    <p>
                        <label for="email">email: </label>
                        <span id="email">{{ person.email }}</span>
                    </p>
                {% endif %}
                {% for c in person.contact_set.all %}
                    <p>
                        <label for="{{ c.type }}-{{ c.pk }}">{{ c.get_type_display }}: </label>
                        <span id="{{ c.type }}-{{ c.pk }}">{{ c.value }}</span>
                    </p>
                {% empty %}
                    <p>List of contacts is empty.</p>
                {% endfor %}
             </addres>  
        </div>
        <div id='bio'>
            <h1>Biography:</h1>
                {{ person.userprofile.bio|linebreaks }}
        </div>
    </div>

{% endblock  %}



