{% extends "base.html" %}

{% block head_title %}42 Coffee Cups Test Assignment{% endblock head_title %}

{% block content %} 
  <header id="header-main">42 Coffee Cups Test Assignment by {{ user.first_name }} {{ user.last_name }}</header>
  <section id="personal-info">
    <p id="date-of-birth">Date of birth: <time datetime="{{user.userprofile.date_of_birth|date:"Y-m-d"}}">{{user.userprofile.date_of_birth}}</time></p>
    <address id="contacts">
      <header>Contacts:</header>
      {% if user.email %}
        <p>email: {{ user.email }}</p>
      {% endif %}
      {% for contact in contacts  %}
        <p>{{ contact }}</p>
      {% empty %}
        <p>List of contacts is empty.</p>
      {% endfor %}
    </addres>  
  </section>
  <section id='bio'>
    <header>Biography:</header>
    {{ user.userprofile.bio|linebreaks }}
  </section>
  <nav>
    <a href="{% url assignment-request-log %}">Request's log</a>
  <nav>
{% endblock content %}



