{% extends "base.html" %}

{% block head_title %}42 Coffee Cups Test Assignment{% endblock %}

{% block menu %}
    <a href="{% url assignment-index %}">main</a>
    {% if user.is_authenticated %}
        {% load edit_link from assignment_edit_link %}
        {% edit_link user "user admin" %}
        <a href="{% url assignment-person-edit %}">edit</a>        
        <a href="{% url assignment-logout %}">logout</a>    
    {% else %}    
        <a href="{% url assignment-login %}">login</a>                
    {% endif %}        
{% endblock %}
    
{% block header %}
    Last ten requests list
{% endblock %}    
    
{% block content %} 
    <div>
        <table  id="request-list">
            <thead>
                <tr>
                    <th><a href="?priority={{ priority }}"></th>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        <td><input type="text" id="id_{{ request.pk }}" maxlength="3" size="1" value="{{ request.priority }}"/></td>                      
                        <td>{{ request.date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ request.method }}</td>
                        <td>{{ request.path }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>    
    </div>
{% endblock %}
    
{% block footer %}
{% endblock %}    

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/csrf.js"></script>         
    <script src="{{ STATIC_URL }}js/priority_edit.js"></script>     
{% endblock %}        
    
