{% extends "base.html" %}

{% block head_title %}Edit person data{% endblock head_title %}

{% block menu %}
    <a href="{% url assignment-request-log %}">request's list</a>
    {% load edit_link from assignment_edit_link %}
    {% edit_link user "user admin" %}
    <a href="{% url assignment-index %}">main</a>    
    <a href="{% url assignment-logout %}">logout</a>    
{% endblock %}
    
 
{% block header %}
    Edit personal data
{% endblock %}    

{% block links %}
    {{ block.super }}
    {{ profile_form.media.css }}
{% endblock %}    

{% block content %} 
    <form id="person-data" enctype="multipart/form-data" method="post" action="{% url assignment-person-edit  %}">
        {% csrf_token %}
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        {{ contact_form.non_field_errors }}            
        <div class="column">
            <p>
                {{ user_form.first_name.errors}}
                {{ user_form.first_name.label_tag }}:
                {{ user_form.first_name }}
            </p>
            <p>
                {{ user_form.last_name.errors}}                  
                {{ user_form.last_name.label_tag }}:
                {{ user_form.last_name }}
            </p>
            <p>
                {{ profile_form.date_of_birth.errors }}
                {{ profile_form.date_of_birth.label_tag }}:
                {{ profile_form.date_of_birth }}
            </p>
            <p>
                {{ profile_form.photo.errors }}
                {{ profile_form.photo.label_tag }}:
                <input type="file" name="photo" id="id_photo" onchange="readURL(this);"/>
                <img id="profile-photo" width="250px" src="
                    {% if user.userprofile.photo %}
                        {{ user.userprofile.photo.url }}
                    {% else %}        
                        {% load staticfiles %}
                        {% static 'css/images/profile.jpg' %}
                    {% endif %}    
                " />
            </p>
        </div>
        <div class="column">
            Contacts:
            <p>
                {{ user_form.email.errors }}
                {{ user_form.email.label_tag }}:
                {{ user_form.email }}
            </p>
            {{ contact_set.as_p }}
            <p>
                {{ profile_form.bio.errors}}
                {{ profile_form.bio.label_tag }}
                {{ profile_form.bio }}
            </p>  
        </div>
        <div class="clear">&nbsp;</div>
        <p id="message">&nbsp;</p>
        <input id="save-person" type="submit" value="Save" />
    </form>
    

{% endblock  %}
    
{% block scripts %}
    {{ block.super }}
    {{ profile_form.media.js }}
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script> 
    
    <script type="text/javascript">
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd'});
        
        $(document).ready(function() { 
            var options = {
                    target: '#person-data',
                    dataType: 'json',
                    beforeSubmit: before,
                    success: after
                }

            $('#person-data').ajaxForm(options);
                
        }) 
        
        function before(formData, jqForm, options) {
            jqForm.find('*').attr('disabled', true);
            $('.errorlist').remove();
            $('#save-person').attr('value', 'Saving...');
            $('#message').text('');        
        }
        
        function after(responseText, statusText, xhr, $form){
            var html = '';
            
            $form.find('*').removeAttr('disabled');
            $('#save-person').attr('value', 'Save');
            if (responseText.success) {
                $('#message').text('Changes have been saved');        
            } else {
                errors = responseText.errors
                for (var key in errors) {
                    html = '<ul class="errorlist">';
                    for(i=errors[key].length; i--;) {
                        html += '<li>' + errors[key][i] + '</li>';
                    }        
                    html += '</ul>';        
                    $('#id_' + key).parent().prepend(html);
                }
            }
        }
  
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#profile-photo").attr('src', e.target.result);
                }

               reader.readAsDataURL(input.files[0]);
           }
       }
    </script>        

{% endblock %}        
